<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416711130071-05tpme8v15327vnagsofq1r4rffos2gk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416711130071-05tpme8v15327vnagsofq1r4rffos2gk</string>
	<key>API_KEY</key>
	<string>AIzaSyD-cftgKOjuru4sYaRv-LPpmbf0WZyyi-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>416711130071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NoamEfergan.Paysonal</string>
	<key>PROJECT_ID</key>
	<string>paysonal-f1a03</string>
	<key>STORAGE_BUCKET</key>
	<string>paysonal-f1a03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416711130071:ios:ffff39cac7875b2f3fe992</string>
</dict>
</plist>